snippet peuler "Project Euler template" b
#!/usr/bin/env python3
"""
File Name:    problem_${1:Problem Number}.py
Date started: `date +%Y-%m-%d`
Date solved:
Run Time:

${0:Problem Statement}

"""

PROBLEM_NUMBER = ${1/^0+//g}
SOLVED = 0


def run():
	"""Calculate the answer."""
	# TODO
	pass
endsnippet
